body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}
h1 {
    background-color: #0b5ed7;
    color: white;
    padding: 20px;
    text-align: center;
}
p {
    padding: 15px 30px;
    font-size: 16px;
}
h2 {
    padding-left: 30px;
    color: #333;
}
ul {
    padding-left: 50px;
}
form {
    padding: 20px 30px;
}
input {
    width: 300px;
    padding: 8px;
}
button {
    background-color: 0#b5ed7;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
}
a {
    display: inline-block;
    margin: 20px 30px;
    text-decoration: none;
    background-color: #25d366;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
